<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to TODO LIST WEBAPP</h1>
    <h1><%= nday %></h1>
    <ul>
        <% for(i=0;i<items.length;i++){ %>
            <li><%= items[i] %></li>
        <% } %>
        <form action="/" method="post">
            <input type="text" name="newItem" autocomplete="off">
            <button type="submit">Add</button>
        </form>
    </ul>
</body>
</html>